.container {
  display: flex;
  margin-top: var(--spacing-large);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list__item {
  display: flex;
  width: 800px;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border) solid var(--color-standart);
}
.quantity__changer {
  display: flex;
  justify-content: space-between;
  width: 100px;
  align-items: center;
}
.list__item a {
  width: 150px;
}
.item__img {
  width: 100px;
}

.item__description {
  display: flex;
  width: 200px;
}
.button {
  width: 20px;
  max-width: 20px;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-subheader);
  background-color: transparent;
}

.cart__message {
  font-size: var(--font-size-header);
  font-weight: var(--font-bold);
  text-align: center;
  margin-top: 20vh;
}

.total__price {
  width: 800px;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-large);
  font-size: var(--font-size-subheader);
  font-weight: var(--font-bold);
}

@media screen and (max-width: 800px) {
  .list__item {
    width: auto;

    gap: var(--spacing-medium);
  }
  .total__price {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    gap: 20px;
  }
  .list__item {
    width: 80vw;
    flex-direction: column;
    height: fit-content;
  }
  .list__item a {
    display: flex;
    justify-content: center;
  }
  .item__description {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
